  <header class="header" role="banner">


    <div class="header-menu">
      <nav class="nav">

          <li><a class="site-title" href="{{ "/" | relative_url }}">{{ site.homeLabel | escape }}</a></li>
            {% assign current = page.url | downcase | split: '/' %}
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='about' %}class='active' {% endif %}>About Me</a></li>
          <li><a href="{{site.baseurl}}/designproject" {% if current[1]=='designproject' %}class='active' {% endif %}>Design Project</a></li>
          <li><a href="{{site.baseurl}}/fabacademy" {% if current[1]=='fabacademy' %}class='active' {% endif %}>Fab Academy</a></li>
          <li><a href="{{site.baseurl}}/shenzhen" {% if current[1]=='shenzhen' %}class='active' {% endif %}>Shenzhen</a></li>
        </ul>
      </nav>

    </div>
  </header>
