.container {
  // get some extra space on the sides on mobile
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@include mq($large-screen) {
  .container {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
  }

  .container-large {
    max-width: $container-large;
    margin-left: auto;
    margin-right: auto;
  }

  .container-small {
    max-width: $container-small;
    margin-left: auto;
    margin-right: auto;
  }

}

.photo-grid-container {
  background-color: #f4f7f5;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.photo-grid {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-grid-item {
  width: 300px;
  height: 300px;
}

.photo-grid-container2 {
  background-color: #f4f7f5;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.photo-grid2 {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-grid-item2 {
  width: 300px;
  height: 300px;
}

.heading-sub {
text-align: center;
padding-bottom: 20px;
font-size: 3 * $scale * 1rem;
line-height: 1.5 * $leading;
margin-top: 1 * $leading;
}

.Hero {
width: 1000px;
margin-left: 50%;
transform: translateX(-50%);

}

.giphy-embed {
display: flex;
justify-content: center;
}

.icon {
  background-position: 0 0;
}

.icon:hover{
  background-position: 0 -300px;
}

.twin-image { // this is the class name for putting two pictures together
  display: flex; // display mode
  padding-top: 5px; // gap at the top
}

.column { // class for each column putting two images side by side
flex: 50%; // divides the picture size in half in the container
padding: 3px; // gap between the photos.
}

.center-image{
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.four-image {
  display: flex;
  padding-top: 5px;
}

.column-four {
  flex: 25%;
  padding: 2px;
}
