.header {
  position: absolute;
  width: 100%;
  top: 0;
  background:#f4f7f5;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 250px;
  font-size: $text-large;
  align-content: center;



}
// logo
.header-logo a {
  color: $text-color;
}


// navigation
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin-right: 2rem;
}

.nav li:last-of-type {
  margin-right: 0;
}

.nav a {
  color: $gray;
}

.nav .active {
  color: $text-color;
  border-bottom: 5px solid #F4722A;
}



// layout on larger screens
@include mq($large-screen) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  .header-menu {
  padding-left: 100px
  }
}
