---
layout: default
---

<div class="container-small">

  <h1 class="text-center">Fab Academy</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">


    {% for fabacademy in site.fabacademy %}
    <article>
      <a href="{{ fabacademy.url | relative_url }}">


      <h2 class="post-title">{{ fabacademy.title }}</h2>
      </a>
      <div class="post-period">{{ fabacademy.period }}</div>
    </article>
    {% endfor %}
  </div>



  </div>
