---
layout: default
---
<main class="page-content" aria-label="Content">
  <div class="wrapper">

<h1 class="text-center">Master in Design for Emergent Futures</h1>

  <p>
      <img src="{{site.baseurl}}/images/HK_night.jpg"/>
      <br>
      <br>
  </p>

</div>
</main>

<div class="container">
<h2 class="text-center">Term 1: October - December 2018 </h2>
<h2 class="text-center">Weekly Reflections </h2>
  <br>
    <hr>

<div class='photo-grid-container'>
<div class='photo-grid'>
  {% for reflection in site.reflections %}
  <div class='photo-grid-item'>
    <a href="{{ reflection.url | relative_url }}">
      <img src='{{site.baseurl}}/{{reflection.icon}}'/>
    </a>
  </div>
  {% endfor %}
</div>
</div>
<hr>
<br>

<h2 class="text-center">Research Trip to Shenzhen, China - January 2019 </h2>

<a href="{{site.baseurl}}/shenzhen">
<img src='{{site.baseurl}}/images/Shenzhen.JPG'/>
</a>

<br>
<br>

  <h2 class="text-center">Term 2: January - April 2019 </h2>

  <div class='photo-grid-container2'>
  <div class='photo-grid2'>

    <div class='photo-grid-item2'>
      <a href="{{site.baseurl}}/designproject">
        <img src='{{site.baseurl}}/images/Design_studio-14.svg'/>
      </a>
    </div>

    <div class='photo-grid-item2'>
      <a href="{{site.baseurl}}/fabacademy">
        <img src='{{site.baseurl}}/images/fab_academy-16.svg'/>
      </a>
    </div>

    <div class='photo-grid-item2'>
      <a href="{{site.baseurl}}/material driven design ">
        <img src='{{site.baseurl}}/images/Materialdrivendesign.svg'/>
      </a>
    </div>

    <div class='photo-grid-item2'>
      <a href="{{site.baseurl}}/atlas of weak signals ">
        <img src='{{site.baseurl}}/images/Atlas_weak_signals-17.svg'/>
      </a>
    </div>

  </div>
  </div>

</div>
