---
layout: default
---
<article class="page">

  <div class="container-small">
    <h1 class="text-center">{{ page.title | escape }}</h1>
    <div class="content">
      {{ content }}
    </div>
  </div>

</article>
