---
layout: default
---

<div class="container-small">

  <h1 class="text-center">Reflections</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">


    {% for reflection in site.reflections %}
    <article>
      <a href="{{ reflection.url | relative_url }}">
      <div class="icon">
        <img src="{{site.baseurl}}/{{reflection.icon}}" alt="">

      </div>
      <h2 class="post-title">{{ reflection.title }}</h2>
      <div class="post-period">{{ reflection.period }}</div>
      </a>
    </article>
    {% endfor %}



  </div>



</div>
